security:
    password_hashers:
        App\Entity\User:
            algorithm: 'bcrypt'
        Symfony\Component\Security\Core\User\InMemoryUser:
            algorithm: 'plaintext'

    providers:
        chain_provider:
            chain:
                providers: [user_db, in_memory]
        user_db:
            entity: 
                class: App\Entity\User
                property: username
        in_memory:
            memory:
                users: 
                    superadmin: 
                        password: 'superadmin'
                        roles: [ROLE_DISTRICT_CONFIG]
    
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
            
        main:            
            lazy: true
            provider: chain_provider
            form_login:
                login_path: app_login
                check_path: app_login

            # form_login:
            #     login_path: '/login'
            #     check_path: '/login'

            custom_authenticators:
                - App\Security\LoginCustomAuthenticator

            entry_point: App\Security\LoginCustomAuthenticator
                
            logout:
                path: app_logout

    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used
    access_control:
        - { path: /responsable, roles: [ROLE_USER,ROLE_ADMIN,ROLE_CD,ROLE_CG,ROLE_DISTRICT_CONFIG] }
        - { path: /Dashboard, roles: [ROLE_CONSULT,ROLE_SUPERADMIN,ROLE_ADMIN,ROLE_USER,ROLE_CD,ROLE_CG,ROLE_FORMATION] }
        - { path: /ListeAnnePastorale, roles: [ROLE_CD,ROLE_CG,ROLE_CONFIG,PUBLIC_ACCESS,ROLE_DISTRICT_CONFIG]}
        - { path: /Groupe, roles: [ROLE_SUPERADMIN,ROLE_ADMIN,ROLE_DISTRICT_CONFIG,ROLE_CD,ROLE_CG,ROLE_CONFIG,PUBLIC_ACCESS]}
        - { path: /ListeJeunes, roles: [ROLE_CONSULT,ROLE_ADMIN,ROLE_CONSULTANT,ROLE_CD,ROLE_CG] }
        - { path: /ListeJeunesDistrict, roles: [ROLE_DISTRICT_USER,ROLE_CD,ROLE_CG,ROLE_FORMATION] }
        - { path: /ListeResponsableDistrict, roles: [ROLE_DISTRICT_USER,ROLE_CD,ROLE_CG,ROLE_FORMATION,ROLE_DISTRICT_CONFIG]}
        - { path: /DistrictDash, roles: [ROLE_DISTRICT_CONFIG,ROLE_DISTRICT_USER,ROLE_CD,ROLE_CG,ROLE_FORMATION]}
        - { path: /GetListeAnnee, roles: [ROLE_DISTRICT_CONFIG,ROLE_CD,ROLE_CG,ROLE_CONFIG,PUBLIC_ACCESS,ROLE_SUPERADMIN,ROLE_DISTRICT_CONFIG]}
        - { path: /ListeFonction, roles: [ROLE_CD,ROLE_CG,ROLE_CONFIG,PUBLIC_ACCESS,ROLE_DISTRICT_CONFIG]}
        - { path: /ListeBranche, roles: [ROLE_DISTRICT_CONFIG,ROLE_CD,ROLE_CG,ROLE_CONFIG,PUBLIC_ACCESS]}
        - { path: /AddResponsableDistrict, roles: [ROLE_DISTRICT_CONFIG,ROLE_CD,ROLE_CG,ROLE_DISTRICT_USER]}
        - { path: /DeleteJeune, roles: [ROLE_DISTRICT_CONFIG,ROLE_USER,ROLE_ADMIN,ROLE_CD,ROLE_CG]}
        - { path: /chefparformation, roles: [ROLE_CD,ROLE_FORMATION]}
        - { path: /ListeChefByChef, roles: [ROLE_CD,ROLE_FORMATION]}
        - { path: /DashAdmin, roles: [ROLE_CONFIG,ROLE_CD,PUBLIC_ACCESS]}
        - { path: /GetDistrictUnique, roles: [ROLE_CONFIG]}
        - { path: /SoumettreActivite, roles: [ROLE_CG]}
        - { path: /SaveSession, roles: [ROLE_CD,ROLE_FORMATION]}
        - { path: /Sessions, roles: [ROLE_CD,ROLE_FORMATION,ROLE_CD_FINANCE]}
        - { path: /ConfigurerResponsable, roles: [PUBLIC_ACCESS]}
        - { path: /AddFormation, roles: [PUBLIC_ACCESS]}
        - { path: /Caisse, roles: [ROLE_CD,ROLE_CD_FINANCE,ROLE_CG_FINANCE]}
        - { path: /VwOperations, roles: [ROLE_CD,ROLE_CD_FINANCE,ROLE_CG_FINANCE]}
        - { path: /Periode, roles: [ROLE_SUPERADMIN,ROLE_ADMIN,ROLE_CONFIG]}
        - { path: /SousRubrique, roles: [ROLE_SUPERADMIN,ROLE_ADMIN,ROLE_CONFIG]}