{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/sweetalert/sweetalert.css') }}">
    <style>
        .bd-example-modal-lg .modal-dialog{
            display: table;
            position: relative;
            margin: 0 auto;
            top: calc(50% - 24px);
        }

        .bd-example-modal-lg .modal-dialog .modal-content{
            background-color: transparent;
            border: none;
        }
    </style>
{% endblock %}
{% block titre %} Ajouter un jeune {% endblock %}

{% block body %}




{#    {% for message in app.session.flashbag.get('success') %}#}
{#        <div class="alert alert-info alert-dismissible" role="alert">#}
{#            <i class="fa fa-check-circle"></i>  {{ message }}#}
{#        </div>#}
{#    {% endfor %}#}

<br>
<br>
<br>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header text-center">
                    <h2>IMPORTATION DES JEUNES</h2>
                </div>
                <div class="body text-center">
                    <form action="{{  path("ImportData") }}" method="post" enctype="multipart/form-data">
                        <input type="file" id="fichier" name="fichier">
                        <button type="submit">envoyer</button>

                    </form>

                </div>
        </div>
    </div>
</div>

    {% block javascripts %}

    {% endblock %}






















































































{% endblock %}

