name: gestiscout
services:    
    db:
        image: mysql:8.0
        restart: always
        container_name: mysql_database
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_ROOT_PASSWORD: "root"
            MYSQL_DATABASE: gestiscout_db
            MYSQL_USER: symfony
            MYSQL_PASSWORD: symfony
        
        ports:
        - "3307:3306"
         
        volumes:
        - db_data:/var/lib/mysql
        # networks:
        # - backend
    
    app:
        container_name: symfony_app_gestiscout
        build: 
            context: ..
            dockerfile: docker/Dockerfile
        depends_on:
        - db
        volumes:
        - ../:/var/www
        ports:
        - "8000:8081"
        # environment:
        #     DATABASE_URL: mysql://symfony:@db:3306/atelierdigital_db
        # networks:
        # - backend
        # - frontend
   
volumes:
    db_data:

