<div class="page-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-header text-center">
								{# <h5 class="">Liste des opérations</h5> #}

								{# <div class="card-header-right">
									<h3>Solde :
										<strong>
											<i id="displaysolde"></i>
											F CFA</strong>
										
									</div> #}

								</div>

								<div class="card-block">
									<div class="card-block table-border-style">
										<div class="table-responsive">
											<table class="table table-hover" id="tboperations">
												<thead>
													<tr>
														<th>#</th>
														<th>Titre</th>
														<th>Date Opération</th>
														<th>Montant</th>
														<th>Type</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>