{% extends 'base_caisse_new.html.twig' %}




{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}"/>
{% endblock %}
{% block titre %} Tableau de bord {% endblock %}

{% block body %}
   <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="page-body">
                                      <div class="row">

                                          <div class="block-header">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
                <h1>Tableau de bord</h1>


            </div>
            <div class="col-md-6 col-sm-12 text-right hidden-xs">
                <h1 style="color=red;">année pastorale</h1>
{#                <a href="javascript:void(0);" class="btn btn-sm btn-primary" title="">Create Campaign</a>#}
            </div>
        </div>
    </div>
                                
                                        </div>
                                    </div>

                               
                                </div>
                            </div>


{% endblock %}
